#Mac OS
.DS_Store

# Ignore IntelliJ and other IDE files
.idea/
Morse-Code-Ninja.iml
.vscode/settings.json


# Cache
cache/

# Don't accidently check in credentials
aws.properties*

# python venv
venv/

*.log

# Don't check in rendered mp3 files
*.mp3
example-00001.txt
example-sentences.txt
example-structure.txt
sentence-15.txt
sentence-17.txt
sentence-20.txt
sentence-22.txt
sentence-25.txt
sentence-28.txt
sentence-30.txt
sentence-35.txt
sentence-40.txt
sentence-45.txt
sentence-50.txt
